h2{
    padding-bottom: 0.1em;
}

/* wrapper center with small bleed */
.wrapper{
    width: 97%;
    margin: 0 auto;
}
/* styles section paragraphs */
section p{
    color: var(--primary-color);
    padding: 0.5em 0 0.5em 0;
}
/* flex to center items */
.aboutContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.25em;
}
/* image full size and outlined */
main img{
    width: 100%;
    border: 4px solid var(--primary-color);
}
/* switch underline from home to about us */
nav ul li:first-child{
    text-decoration: none;
}
nav ul li:nth-child(2){
    color: var(--tertiery-color);
    text-decoration: underline;
}
/* tablet media query min 768px */
@media (min-width:768px) {
    /* change width of main */
    .wrapper:nth-child(2){
        width: 95%;
    }
}
/* media query for desktop min 992px */
@media (min-width: 992px) {
    /* aligns h3 with p section */
    section h3{
        margin-left: 50%;
    }
    /* flex to display section inline */
    section {
        display: flex;
        flex-direction: column;
    }
    /* wrapper size for desktop */
    .wrapper{width: 90%;}
    /* displays section p beside picture */
    .aboutContent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }    
    /* styles p's beside img */
    .aboutContent>div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* will match the height of img */
        height:40vw;
        /* to line up with h3 */
        width: 50%;
    }
    /* removes padding */
    section p {
        padding: 0;
    }
    /* take 45% leaving 5% spacer to right */
    section img{
        width: 45%;
    }
    /* logo 1/4 size to fit nav properly */
    #logo{
        width: 25%;
    }
}