
/* image full size and outlined */
img{
    width: 100%;
    border: 4px solid var(--primary-color);
}
/* flex to center items */
.aboutContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* wrapper center with small bleed */
.wrapper{
    width: 97%;
    height: auto;
    margin: 0 auto;
}
/* styles section paragraph */
section p{
    color: var(--primary-color);
    padding: 0.5em 0 0.5em 0;
}

