/* table styling */
table{
    width: 100%;
    text-align: center;
}
td, th{
    padding: 0.5em;
}
table, td, th{
    border: 1px solid var(--primary-color);
}
th{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid black;
    font-weight: bold;
}
td{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
/* style map and address */
img, iframe {
    border: 4px solid var(--primary-color);
    width: 100%;
}
/* match aspect ratio of img */
iframe{
    aspect-ratio: 1.6285;
}
/* Centers content (iframe and image overflow for some reason) */
.wrapper{
    width: 97%;
    margin: 0 auto;
}
/* switch underline from home to about us */
nav ul li:first-child{
    text-decoration: none;
}
nav ul li:nth-child(4){
    color: var(--tertiery-color);
    text-decoration: underline;
}

/* media query for tablet min-width 768px */
@media (min-width: 768px) {
    /* main content styling */
    main {
        padding: 1em 0 1em 0;
    }
    /* wrapper width */
    .wrapper{
        width: 90%;
    }

}
/* media query for desktop min-width 992px */
@media (min-width: 992px) {
    /* grid areas for grid template areas */
    .address{grid-area: address;}
    .hours{grid-area: hours;}
    .map{grid-area: map;}
    /* display of grid (row 1: address and map, row 2: hours) */
    .locationContent{
        display: grid;
        /* 2 col 2 rows grid */
        grid-template-columns: 1fr 1fr;
        /* second row auto size to remove space on bottom */
        grid-template-rows:  1fr auto-fill;
        grid-template-areas: "address map"
        "hours hours";
        /* space between grid items */
        grid-gap: 3em;
    }


}

