/* table styling */
table{
    width: 100%;
    text-align: center;
}
td, th{
    padding: 0.5em;
}
table, td, th{
    border: 1px solid var(--primary-color);
}
th{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid black;
    font-weight: bold;
}
td{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
/* style map and address */
img, iframe {
    border: 4px solid var(--primary-color);
    width: 100%;
}
/* match aspect ratio of img */
iframe{
    aspect-ratio: 1.6285;
}
/* Centers content (iframe and image overflow for some reason) */
.wrapper{
    width: 97%;
    height: auto;
    margin: 0 auto;
}
/* switch underline from home to about us */
nav ul li:first-child{
    text-decoration: none;
}
nav ul li:nth-child(4){
    color: var(--tertiery-color);
    text-decoration: underline;
}


