/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/****************************************************
*               My code begins here                 *
*****************************************************/
/* Global settings */
:root{
    /* setting custom variables */
    --primary-color:#800080;
    --secondary-color: white;
    --tertiery-color: #90EE90;
    --background-main: #CEF6CE;
    --border-color: #90EE90;  
    /* smooth scrolling (ex back to top button) */
    scroll-behavior: smooth;
}
/* fixes overflow issue */
*{box-sizing: border-box;}
/* font size set up */
h3{font-size: 32px;}
h4{font-size: 30px;}
h5{font-size: 26px;}
h6{font-size: 22px;}
/* google fonts */
h1{
    font-family: 'Cinzel', serif;
    color: var(--primary-color);
    font-size: 42px;
}
h2{
    font-family: 'Cinzel', serif;
    color: var(--primary-color);
    /* font isn't dark enough */
    font-weight: bold;
    font-size: 38px;
}
h3, h4, h5, h6{
    font-family: 'Antic Didone', serif;
    /* font isn't dark enough */
    font-weight: bold;
    color: var(--primary-color);
}
/* paragraphs links labels and placeholder default styling */
p, a, label, ::placeholder{
    font-family: 'Cormorant', serif;
    /* font isn't dark enough */
    font-weight: bold;
    font-size: 20px;
}
/* use primary and tertiery color as highlight colors when text is selected */
::selection{
    background-color: var(--primary-color);
    color: var(--tertiery-color);
}
/* style anchor tags */
a{color: var(--background-main);}
/* background for body (secondary colour) */
body{
    background-color: var(--background-main);
    width: 100%;
}
/* extra padding for bottom of main to match top */
main{padding: 1em 0 1em 0;}
/* nav styling and alignment */
nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1em 1em 2em 1em;
}
/* set header and footer colours  */
header, footer{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
footer{
    padding: 1em 0 1em 0;
    text-align: center;
}
/* styling navigation */
nav a{
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 24px;
}
/* style a states (on first child to show current page is home) */
a:hover, a:active, nav ul li:first-child{
    color: var(--tertiery-color);
    text-decoration: underline;
}
/* nav padding bottom */
nav ul {
    padding-bottom: 1em;
}
/* nav link spacing */
nav ul li{
    padding: 0.25em 0 0.25em 0;
}
/* wrapper managing width and margin and centering */
.wrapper{
    /* 97% for all mobile */
    width: 97%;
    margin: 0 auto;
}
/* styles skip links */
.skip-links{
 list-style: none;
 margin: 0;
 padding: 0;
}
.skip-links a{
 position: absolute;
 top: -3em;
 background-color: white;
 color:black;
 padding: .5em 1em;
 font-weight: bold;
}
/* display skip link when user is focused on link */
.skip-links a:focus{
    top: 0;
}
/* back to top align right */
.backTop{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* make link end where bleed starts */
    padding-right: 2.5%;
    padding-top: 0.5em;
}
/* styles option which is the 3 divs on home page */
.option{
    padding: 0.25em 0 0.25em 0;
}
.option img {
    width: 80%;
    height: auto;
    border: 4px solid var(--primary-color);
}
/* each section is an option */
.option h2, .option img{
    width: 100%;
    margin: 0;
}
/* use tertiery and primary color as highlight colors when text is selected in footer or nav */
footer ::selection, nav ::selection{
    background-color: var(--tertiery-color);
    color: var(--primary-color);
}
/* logo styling */
#logo{
    width: 75%;
    padding-bottom: 0.5em;
    /* animation when arriving to page */
    transform: rotateY(360deg);
    transition: 1s 0s;
}
/* style back to top link */
#btt{
    color: var(--primary-color);
}
/* hover states for back to top button */
#btt:hover, #btt:active{
    color: var(--secondary-color);
    background-color: var(--primary-color);
}
/* tablet media query min 768px */
@media (min-width:768px) {
    /* make nav inline */
    nav{
        display: flex;
        flex-direction: row;
        align-items:flex-end;
        justify-content: space-between;
        width: 100%;
        /* removes padding from mobile */
        padding: 0;
    }
    /* styles footer */
    footer{
        padding: 1.5em 0;
    }
    /* site wide - 95% for all tablet */
    .wrapper{
        width: 95%;
    }
    /* display options horizontally */
    .options{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    /* each option takes 1/2 space on tablet */
    .option{
        width: 50%;
    }
    /* nav items inline */
    nav ul {
        display: flex;
        justify-content: space-between;
        width: 70%;

    }
    /* transition back to normal from hover */
    main img, main iframe{
        transition-duration: 0.35s;
    }
    /* all images except logo have border color change on hover */
    @keyframes changeColor{
        /* transition from one color to another */
        0%{border: 4px solid var(--primary-color);}
        50%{border: 4px solid var(--border-color);}
        100%{border: 4px solid var(--primary-color);}    
    }
    /* all images and iframes in main get these animations/transforms */
    main img:hover, main iframe:hover{
        /* make 5% larger */
        transform: scale(1.05);
        transition-duration: 0.35s;
        /* change colour animation */
        /* name, duration, delay, iteration-count, direction */
        animation: changeColor 1.25s 0s infinite forwards ease-in-out;
    }
    /* logo 1/4 size to fit nav properly */
    #logo{
        width: 25%;
    }
}

/* desktop media query at 992px+  */
@media (min-width:992px) {
    /* make nav inline */
    nav{
        display: flex;
        flex-direction: row;
        align-items:flex-end;
        justify-content: space-between;
        width: 100%;
        /* removes padding from mobile */
        padding: 0;
    }
    /* styles footer */
    footer{
        padding: 1.5em 0;
    }
    /* for index only, evenly distribute header, main and footer */
    .pageWrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* sets height the height of the screen */
        height: 100vh;
    }
    /* 90% site wide on non mobile media queries */
    .wrapper{
        width: 90%;
    }
    /* flex to align and justify content to space */
    .options{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 2em;
    }
    /* each option takes 3/10 space */
    .option{
        width: 30%;
    }
    /* nav items inline */
    nav ul {
        display: flex;
        justify-content: space-between;
        width: 70%;

    }
    /* logo 1/4 size to fit nav properly */
    #logo{
        width: 25%;
    }

}

